shadow = true;
shadow-radius = 7;
clear-shadow = true;
shadow-offset-x = -10;
shadow-offset-y = -10;
shadow-red = 0.0;
shadow-green = 0.3;
shadow-blue = 0.5;
shadow-exclude = [
  "_GTK_FRAME_EXTENTS@:c"
]

# blur-kern = "3x3box"
# fading = true;
# fade-in-step = 0.08;
# fade-out-step = 0.08;

menu-opacity: 0.9;
frame-opacity = 0.85;
